body { 
  font: 14px $fontMain;
  background: #fff;
}
a {
  color: inherit;
  text-decoration: none;
}
h1 {
  text-transform: uppercase;
  font: bold 30px/1 $fontAlt;
  text-align: center;
}
h2 {
  text-transform: uppercase;
  font: bold 14px $fontAlt;
  letter-spacing: .15em;
  color: #000;
}

.holder {
  margin: auto auto;
  padding: 0 20px;
  @include respond-to(tablet) {
    padding: 0 16px;
  }
}

.input {
  display: inline-block;
  display: block;
  box-sizing: border-box;
  border: 0;
  border-bottom: 1px solid #000;
  background: none;
  margin-bottom: 24px;
  font: 18px $fontAlt;
  letter-spacing: .2em;
  outline: 0;
  @include placeholder {
    color: #000;
    font-style: italic;
  }
}
.button {
  @include animation(all, .3s, .2s);
  display: inline-block;
  box-sizing: border-box;
  border: 0;
  background: #000;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font: 16px/38px $fontAlt;
  border: 1px solid #000;
  height: 40px;
  padding: 0 10px;
  word-spacing: nowrap;
  &:active {
    background-color: #8b8b8b;
    border-color: #8b8b8b;
  }
  &:hover {
    border-color: #a3a3a3;
    background-color: #a3a3a3;
    color: #fff;
  }
}
.button_alt {
  background: none;
  color: #000;
}
span.button,
.button.is__disabled {
  cursor: default;
}
span.button_alt,
.button_alt.is__disabled {
  &:hover,
  &:active {
    background: none;
    border-color: #000;
    color: #000;
  }
}
.icon {
  position: relative;
  top: -2px;
  display: inline-block;
  margin-left: 4px;
  vertical-align: middle;
  &:after,
  &:before {
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    transition: opacity .1s;
  }
  &:before {
    opacity: 1;
  }
  &:after {
    opacity: 0;
  }
  .button_alt:hover & {
    &:before,
    &:after {
      transition-duration: .1s;
    }
    &:before {
      opacity: 0;
    }
    &:after {
      opacity: 1;
    }
  }
}
.icon_mail {
  @include sbgs(mail);
  background: none;
  &:before {
    @include bgs(mail);
  }
  &:after {
    @include bgs(mail_a)
  }
}
.icon_cart {
  @include sbgs(carts);
}
.phone {
  display: inline-block;
  line-height: 30px;
  padding: 0 10px;
  border: 1px solid #000;
}

#hidden {
  height: 0;
}

.block {
  margin-bottom: 15px;
  .sidebar & {
    font-size: 11px;
    color: #636363;
  }
}
.block-header {
  cursor: pointer;
  font-weight: normal;
  letter-spacing: 0;
  color: #000;
  letter-spacing: .024;
  margin: 0 0 11px;
  &:after {
    content: '';
    display: inline-block;
    @include sbgs(plus);
    position: relative;
    top: -1px;
    margin-left: 6px;
    .block.is__active & {
      @include bgs(minus);
    }
  }
}
.block-body {
  display: none;
  margin-bottom: 22px;
  .block.is__active & {
    display: block;
  }
}

.mobile {
  @include respond-to(desktop) {
    display: none !important;
  }
}

.js__tbox-m {
  transform: translateX(0);
  opacity: 1;
}

.cols {
  @extend .clear;
}
.col {
  float: left;
  box-sizing: border-box;
  width: 50%;
  padding-right: 10%;
}


.table {
  width: 100%;
  font-size: 12px;
  thead {
    border-bottom: 1px solid #dbdbdb;
  }
  th {
    padding: 20px;
    font-weight: normal;
    font-style: italic;
    font-size: 11px;
    color: #909090;
    text-align: left;
  }
  td {
    padding: 30px 20px;
  }
  tbody {
    tr:nth-child(even) {
      background: #f0f0f0;
    }
  }
}