// .js__tbox {
//   // position: fixed;
//   // top: 0; right: 0; bottom: 0; left: 0;
//   opacity: 0;
//   z-index: 500;
//   // margin-left: -1000em;
//   @include animation(opacity, .3s, .3s);
//   transition-delay: .3s;
//   &.is__active {
//     opacity: 1;
//   }
// }
.js__tbox {
  transform: translateX(-1000em);
  opacity: 0;
  transition: opacity .3s, transform .2s linear .3s;
  &.is__active {
    transform: translateX(0);
    transition: opacity .3s, transform 0;
    opacity: 1;
  }
}

.js__tabs-tab {
  display: none;
  &.is__active {
    display: block;
  }
}

.js__slider-list {
  width: 1000em;
  transition: transform .3s cubic-bezier(0.190, 1.000, 0.220, 1.000);
}
.js__slider-limiter {
  position: relative;
  padding: 0 20px;
  margin: auto;
}
.js__slider-clip {
  overflow: hidden;
}
.js__slider-item {
  float: left;
}

.js__slider-nav {
  position: absolute;
  top: 160px;
  margin-top: -10px;
  cursor: pointer;
  &:hover {
    opacity: .8;
  }
  &.disabled {
    opacity: .5;
  }
}
.js__slider-nav_prev {
  left: 0;
  @include sbgs(nav_left);
}
.js__slider-nav_next {
  right: 0;
  @include sbgs(nav_right);
}